daemonize yes
pidfile /var/run/redis/redis-sentinel.pid
port {{ redis_sentinel_port }}
sentinel monitor {{ redis_master_group_name }} {{ redis_master_ip }} {{ redis_master_port }} {{ redis_sentinel_monitor_quorum }}
sentinel down-after-milliseconds {{ redis_master_group_name }} {{ redis_sentinel_down_after_milliseconds }}
sentinel parallel-syncs {{ redis_master_group_name }} {{ redis_sentinel_parallel_syncs }}
sentinel failover-timeout {{ redis_master_group_name }} {{ redis_sentinel_failover_timeout }}
logfile /var/log/redis/redis-sentinel.log
